@charset "UTF-8";

:root {
  --white: #f4f4f4;
  --black: #25271a;
  --grey: #dedede;
  --brown: #4c2c17;
  --lightbrown: #a77a51;
  --ghostbrown: #a77b51dd;
}

/* @media screen and (orientation: landscape) {
  main section#login {
    max-width: 90vw;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 6px 1px var(--brown);
  }

  section#login > div#imagem {
    background-position-x: 42%;
    float: left;
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
    margin-right: 15px;
  }

  section#login > div#formulario {
    padding: 10px;
  }
} */

@media screen and (min-width: 500px) and (max-width: 768px) {
  body {
    background: linear-gradient(to bottom, var(--lightbrown) 70%, var(--brown));
  }

  section#login {
    border-radius: 20px;
    box-shadow: 5px 6px 1px var(--brown);
    height: 600px;
  }

  div#formulario h1 {
    margin-top: 10px;
  }

  div#formulario p {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  body {
    background: linear-gradient(to bottom, var(--lightbrown) 70%, var(--brown));
  }

  main section#login {
    max-width: 90vw;
    height: 400px;
    border-radius: 15px;
    box-shadow: 5px 6px 1px var(--brown);
  }

  section#login > div#imagem {
    background-position-x: 42%;
    float: left;
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    margin-right: 15px;
  }

  section#login > div#formulario {
    padding: 10px;
  }

  div#formulario h1 {
    margin-top: 10px;
  }

  .media-all {
    display: inline;
  }

  .media-mobile {
    display: none;
  }

  div#formulario p {
    margin-top: 20px;
  }
}

@media screen and (min-width: 990px) {
  body {
    background: linear-gradient(to bottom, var(--lightbrown) 70%, var(--brown));
  }

  main section#login {
    width: 90vw;
    max-width: 1100px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 5px 6px 1px var(--brown);
  }

  section#login > div#imagem {
    background-position-x: 42%;
    float: left;
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    margin-right: 15px;
  }

  section#login > div#formulario {
    max-width: 1000px;
    padding: 10px;
    padding-right: 15px;
  }

  div#formulario h1 {
    font-size: 1.8em;
    margin-top: 20px;
    text-align: left;
    margin-left: 430px;
  }

  fieldset {
    padding-left: 25px;
  }
  
  .media-all {
    display: inline;
  }

  .media-mobile {
    display: none;
  }

  div#formulario p {
    margin-top: 30px;
    display: block;
    max-width: 700px;
    margin-left: 430px;
  }
}
