@charset "UTF-8";

:root {
  --white: #f4f4f4;
  --black: #25271a;
  --grey: #dedede;
  --brown: #4c2c17;
  --lightbrown: #a77a51;
  --ghostbrown: #a77b51dd;
}

* {
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--ghostbrown);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

main section {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  /* height: 500px; */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 5px 6px 1px #25271a90; */
  overflow: hidden; /*Para esconder a borda quadrada da div#imagem */
  border: 1px solid var(--brown);

  transition: height 0.3s, width 0.3s;
  transition-timing-function: ease; /*Para suavizar*/
}

section#login > div#imagem {
  display: block;
  margin: auto;
  background-color: var(--ghostbrown);
  background: url("../imagens/fundo.jpg") center center no-repeat fixed;
  background-size: cover;
  max-width: 400px;
  height: 200px; /* Se não a imagem não aparece */
}

section#login > div#formulario {
  padding: 10px;
  display: block;
}

div#formulario h1 {
  font-size: 1.3em;
  margin: 10px 0;
}

div#formulario p {
  font-size: 1em;
  margin-top: 20px;
}

.media-all {
  display: none;
}

fieldset {
  margin-top: 10px;
  padding-top: 10px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.464);
}

div.container {
  border: 1px solid black;
  background-color: var(--ghostbrown);
  border: 2px solid var(--ghostbrown);
  height: 40px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 10px;
  display: block;
}

div.container i {
  color: white;
  /* background-color: black; */
  font-size: 2em;
  width: 40px;
  padding: 5px;
  transform: translatey(-3px);
}

div.container input {
  font-size: 1em;
  padding: 10px;
  width: calc(100% - 44.4px);
  transform: translateY(-12px);
  height: 100%;
  border-radius: 15px;
}

form label {
  display: none;
  width: 60px;
}

input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  background-color: var(--lightbrown);
  border: 1px solid black;
  margin-top: 15px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--brown);
  color: white;
}

hr#submit-hr {
  width: 80%;
  margin: 15px auto 0 auto;
}

form a.forgot {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: var(--white);
  color: black;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}

form a.forgot:hover {
  background-color: var(--brown);
  color: white;
}